/*-------------------------------*/
/* COLORS */
/*-------------------------------*/

/*Green #7cc576*/
/*Black #151515*/
/*Gray #aeaeae*/

/*-------------------------------*/
/* BASIC SETUP */
/*-------------------------------*/



*{
	margin: 0;
  	padding: 0;
	box-sizing: border-box;
}

html, body{
	overflow-x: hidden;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size:100%;
	text-rendering: optimizeLegibility;
	background-color: #fff;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/*-------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------*/
section{
	padding:60px 0;
	overflow: hidden;
}

.title-block{
	text-align: center;
}

.title-block p{
	text-align: center;
	color:#aeaeae;
	margin:20px 0 40px 0;
}

.flex-container{
	display: flex;
	flex-flow:row nowrap;
}

/*-------------------------------*/
/* HEADINGS */
/*-------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "Montserrat", sans-serif;
	line-height: 1.2;
}

h1{
	color:#fff;
	font-size: 3rem;
	font-weight: 500;
	margin-top: 30px;
	margin-bottom: 25px;
}
h2{
	color:#151515;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 700;
}

/*-------------------------------*/
/* BUTTONS */
/*-------------------------------*/

.btn{
	border-radius: 3px;
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	display: inline-block;
}

.btn-full{
	background-color: #7cc576;
	color:#fff;
}

.btn-ghost{
	background-color: #fff;
	color:#7cc576;
	border:2px solid #7cc576;
}

.btn-up{
	position: fixed;
	z-index: 9999;
	right: 15px;
	bottom: 15px;
	width:45px;
	height: 45px;
	line-height: 45px;
	display: block;
	background-color: rgba(124, 197, 118, 0.75);
	color:#fff;
	text-decoration: none;
	text-align: center;
	font-size: 1.4rem;
	border-radius: 5px;
}

/*-------------------------------*/
/* HEADER */
/*-------------------------------*/

header{
	background-image: url('../img/hero-bg.png');
	background-repeat: repeat;
}

.header-wrapper{
	position:relative;
	height:100vh;
}
.header-inner{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width:100%;
}

.header-link-logo{
	display: block;
}

.header-inner p{
	color:#aeaeae;
	font-size: 0.95rem;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 40px;
	line-height: 1.5;
	letter-spacing: 0.4px;
}

.header-button{
	text-transform: uppercase;
	padding:18px 30px;
	font-weight: 400;
	letter-spacing: 1px;
	transition: color .5s, background-color .5s;
}

.header-button:hover{
	color:#7cc576;
	background-color: #fff;
}

/*-------------------------------*/
/* MAIN NAVIGATION */
/*-------------------------------*/

.bars{
	position: fixed;
	top:25px;
	right:25px;
	z-index: 9999;
	color: #7cc576;
	font-size: 1.5rem;
	display: none;
}

.main-nav{
	box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
	padding:5px 0;
	background-color: #fff;
}

.main-nav ul{
	display: flex;
	flex-flow:row wrap;
	align-items: center;
	justify-content: center;
}

.main-nav li a{
	display: block;
	text-decoration: none;
	color:#151515;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 0.95rem;
	padding:15px 20px;
	transition: color .2s;
}

.main-nav li a:hover{
	color:#7cc576;
}

.logo-item{
	vertical-align: middle;
	padding:0 20px;
}

.logo-item-md{
	display: none;
}

.drop-down-item{
	display: inline-block;
	margin:0 5px;
}

/*-------------------------------*/
/* ABOUT US */
/*-------------------------------*/

.about-us-left img{
	width:100%;
	height:auto;
	border:20px solid #fff;
	box-shadow: 0 0 15px #e1dfdf;
}

.about-us-right{
	padding-left:20px;
	color:#555;
	line-height: 1.5;
}

.about-us-right h3{
	font-size:1.6rem;
	font-weight: 600;
	line-height: 1.2;
}

.about-us-right p:first-of-type{
	font-style: italic;
	margin:10px 0 15px 0;
}
.about-us-right li{
	margin-bottom: 12px;
	display: flex;
	flex-flow:row nowrap;
}
.about-us-right li i{
	color:#7cc576;
	font-size: 1.4rem;
	padding-right: 5px;
	display: inline-block;
}
.about-us-right p:last-child{
	margin-top: 25px;
}

/*-------------------------------*/
/* SERVICES */
/*-------------------------------*/

.service-list li{
	display: flex;
	flex-flow: row nowrap;
}

.service-list li:not(:last-child){
	margin-bottom: 55px;
}

.service-list li i{
	font-size: 3rem;
	color:#7cc576;
	padding-right: 15px;
}

.service-item h4{
	font-size: 1.2rem;
	font-weight: 700;
	color:#555;
	margin-bottom: 10px;
}

.service-item p{
	font-size: 0.95rem;
	color:#aeaeae;
	line-height: 1.5;
}

.service-right{
	width:100%;
	height: 100%;
	background-image: url('../img/services.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}

/*-------------------------------*/
/* FEATURES */
/*-------------------------------*/

.section-features{
	padding:0;
	padding-top: 50px;
	padding-bottom: 30px;
}

.feature-left{
	text-align: center;
}

.feature-left img{
	width:90%;
}
.feature-link{
	text-decoration: none;
	padding:20px 20px;
	display: block;
}

.feature-link:hover{
	color:#7cc576;
}

.feature-link h4{
	color:#151515;
	font-size: 1.15rem;
	font-weight: 600;
	margin-bottom: 10px;
	transition: color .2s;
}
.feature-link p{
	color:#151515;
	font-size: 0.9rem;
	line-height: 1.5;
}

.feature-item .active{
	box-shadow: 0 0 15px #e9e9e9;
}
.feature-item .active h4{
	color:#7cc576;
}

/*-------------------------------*/
/* WHY US */
/*-------------------------------*/

.section-why-us{
	background-color: #f5f5f5;
	padding:0;
}

.section-why-us .container-fluid{
	padding-left:0;
	padding-right:0;
}

.section-why-us .col:last-child{
	margin-top:0;
	margin-bottom: 0;
}

.why-us-left{
	padding:55px 110px;
	color:#aeaeae;
}

.why-us-left h3{
	font-size: 2rem;
	color:#555;
	letter-spacing: 1px;
}

.why-us-left h3 strong{
	font-weight: bold;
}

.why-us-left h3 + p{
	margin:15px 0;
	line-height: 1.5;
	font-size: 0.95rem;
}

.why-us-item{
	background-color: #fff;
	border-radius: 3px;
	padding: 25px 20px;
	margin-bottom: 15px;
}

.why-us-item a{
	text-decoration: none;
	font-weight: 600;
	font-size: 0.95rem;
	color:#151515;
	display: flex;
	flex-flow:row nowrap;
	font-family: "Montserrat", sans-serif;
	line-height: 1.2;
}

.why-us-item a:hover{
	color:#7cc576;
}

.why-us-item a i{
	margin-left: auto;
}

.why-us-item a span{
	font-weight: 700;
	display: inline-block;
	margin-right: 10px;
	font-size: 1rem;
	color:#7cc576;
}

.why-us-item p{
	color:#555;
	line-height: 1.5;
	margin-top: 10px; 
	display: none;
}

.why-us-right{
	height: 100%;
	width:100%;
	position: relative;
	background-image: url('../img/why-us.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.play-btn{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	height: 70px;
	width: 70px;
	background-color: #7cc576;
	border-radius: 50%;
	text-align: center;
}

.play-btn i{
	color:#fff;
	font-size: 2.3rem;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

/*-------------------------------*/
/* PORTFOLIO */
/*-------------------------------*/

.portfolio-nav{
	text-align: center;
	margin-bottom: 20px;
}

.portfolio-nav ul{
	display: flex;
	flex-flow:row wrap;
	justify-content: center;
}

.portfolio-nav li{
	text-transform: uppercase;
	color:#555;
	background-color: #f5f5f5;
	padding:10px 15px;
	border-radius: 5px;
	font-size: 0.9rem;
	margin:0 5px;
	cursor: pointer;
	transition: color .4s, background-color .4s;
}

.portfolio-nav li:hover{
	color:#fff;
	background-color: #7cc576;
}

.portfolio-nav li.active{
	color:#fff;
	background-color: #7cc576;
}



.portfolio-wrapper img{
	width:100%;
	display: block;
}

.portfolio-info{
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	transform: scale(0.8);
	opacity: 0;
	text-align: center;
	transition: opacity 0.4s, transform .4s;
}

.portfolio-info:after{
	content: '';
	display: block;
	position: absolute;
	bottom:35px;
	right:35px;
	width:50px;
	height: 50px;
	border-bottom: 3px solid #fff;
	border-right:3px solid #fff;
	transition: bottom .6s, right .6s;
}
.portfolio-info:before{
	content: '';
	display: block;
	position: absolute;
	top:35px;
	left:35px;
	width:50px;
	height: 50px;
	border-top: 3px solid #fff;
	border-left:3px solid #fff;
	transition: top .6s, left .6s;
}

.portfolio-wrapper:hover .portfolio-info{
	transform: scale(1);
	opacity: 1;
}

.portfolio-wrapper:hover .portfolio-info:after{
	bottom:15px;
	right:15px;
}

.portfolio-wrapper:hover .portfolio-info:before{
	top:15px;
	left:15px;
}

.portfolio-info-inner{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	color:#fff;
}

.portfolio-info-inner h4{
	font-weight: 600;
	font-size: 1.3rem;
}

.portfolio-info-inner p{
	margin:12px 0;
	text-transform: uppercase;
	font-size: 0.95rem;
}
.portfolio-link-block a{
	display: inline-block;
	color:#fff;
	font-size: 1.6rem;
	transition: color .3s;
}

.portfolio-link-block a:hover{
	color:#7cc576;
}

/*-------------------------------*/
/* TESTIMONIALS */
/*-------------------------------*/

.section-testimonials{
	background-image: url('../img/testimonials-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.testimonials-wrapper{
	text-align: center;
}
.testimonials-quotes{
	border:2px solid #7cc576;
	border-radius: 50%;
	display: inline-block;
	color:#7cc576;
}
.testimonials-quotes i{
	padding:20px;
	font-size: 1.5rem;
}
.testimonials-item p:first-child{
	color:#fff;
	font-style: italic;
	font-size: 1.25rem;
	font-weight: 500;
	margin:35px auto;
	line-height: 1.5;
	width:85%;
}

.testimonials-item img{
	width:95px !important;
	margin:0 auto;
	border-radius: 50%;
	border:7px solid rgba(202, 202, 202, 0.2);
}
.person-name{
	color:#fff;
	font-weight: 700;
	font-size: 1.3rem;
	margin:10px 0;
}
.person-position{
	font-size: 0.95rem;
	color:#f2f2f2;
}

.testimonials-slider .owl-dots{
	margin-top: 55px;
	text-align: center;
}

.testimonials-slider .owl-dot{
	display: inline-block;
	width:12px;
	height:12px;
	background-color: #7c7c7c !important;
	margin:0 5px;
	border-radius: 50%;
}

.testimonials-slider .owl-dot.active{
	background-color: #7cc576 !important; 
}

/*-------------------------------*/
/* CLIENTS */
/*-------------------------------*/

.section-clients{
	padding:25px 0;
	background-color: #f5f5f5;
	text-align: center;
}

.client-logo{
	width:80px;
	filter: grayscale(100%);
	transition: transform .4s, filter .4s;
}
.client-logo:hover{
	transform: scale(1.3);
	filter: grayscale(0%);
}

/*-------------------------------*/
/* TEAM */
/*-------------------------------*/

.team-item-inner{
	position: relative;
	overflow: hidden;
}

.team-item-inner img{
	width:100%;
	border-radius:5px;
	display: block;
}

.team-shares{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	text-align: center;
	background-color: rgba(124, 197, 118, 0.85); 
	padding:5px 0;
	transform: translate(0, 100%);
	transition: transform .4s;
}

.team-shares a{
	display: inline-block;
	color:#fff;
	text-decoration: none;
	margin:5px;
}
.team-shares i{
	font-size: 1.3rem;
}

.team-item-wrap h3{
	color:#555;
	font-size: 1.1rem;
	font-weight: 700;
	margin-top: 15px;
}

.team-item-wrap span{
	display: inline-block;
	text-transform: uppercase;
	color:#7cc576;
	font-size: .85rem;
	font-weight: 500;
	margin-top: 8px;
}

.team-item-wrap p{
	font-style: italic;
	color:#a1a1a1;
	line-height: 1.8;
	font-size: .9rem;
	margin-top: 15px;
	padding-bottom: 30px;
}

.team-item-wrap:hover .team-shares{
	transform: translate(0, 0);
}

/*-------------------------------*/
/* PRICING */
/*-------------------------------*/

.section-pricing{
	background-color: #f5f5f5;
}

.section-pricing .col{
	margin-top:0;
	margin-bottom: 0;
}

.pricing-plan{
	background-color:#fff;
	border-radius: 10px;
	padding:50px 0 40px 0; 	
	text-align: center;
}

.pricing-plan.selected{
	border:1px solid #7cc576;
	position:relative;
}

.pricing-select-message{
	position: absolute;
	left:50%;
	top:5px;
	transform: translate(-50%, 0);
	display: inline-block;
	text-transform: uppercase;
	background-color: #eaf6e9;
	color:#7cc576;
	padding:8px 25px;
	border-radius: 15px;
	font-size: 0.8rem;
	font-weight: 600;
}

.pricing-plan h3{
	font-weight: 600;
	font-size: 1.1rem;
}

.pricing-plan h4{
	color:#aeaeae;
	margin:25px 0;
}

.pricing-plan h4 span{
	display: inline-block;
	font-weight: 700;
	font-size: 2.6rem;
	color:#151515;
	font-family: 'Open Sans', sans-serif;
	position: relative;
}

.pricing-plan h4 span:before{
	content:"$";
	font-size: 1.2rem;
	position: absolute;
	top:5px;
	left:-10px;
}

.pricing-option-list{
	font-size: 0.9rem;
	margin-bottom: 50px;
}

.pricing-option-list li:not(:last-child){
	margin-bottom: 20px;
}

.pricing-option-list li.lineThrough{
	text-decoration: line-through;
	color:#aeaeae;
}

.pricing-btn{
	font-family: "Montserrat", sans-serif;
	text-decoration: none;
	display: inline-block;
	font-size: 0.9rem;
    font-weight: 600;
    border: 2px solid #7cc576;
    border-radius: 5px;
    padding: 15px 40px;
}

.pricing-btn.ghost{
	color: #7cc576;
	background-color: #fff;
	transition: background-color .3s, color .3s;
}

.pricing-btn.full{
	color:#fff;
	background-color: #7cc576;
	transition: background-color .3s, border-color .3s;
}

.pricing-btn.ghost:hover{
	color:#fff;
	background-color: #7cc576;
}

.pricing-btn.full:hover{
	background-color: #61b959;
	border-color:#61b959;
}

/*-------------------------------*/
/* QUESTIONS */
/*-------------------------------*/

.questions-list{
	margin-top: 35px;
	margin-bottom: 15px;
}

.questions-list li{
	border-bottom: 1px solid #eeeeee;
}

.questions-list a{
	display: flex;
	flex-flow:row nowrap;
	justify-content: space-between;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.1rem;
	color:#606469;
	font-family: "Montserrat", sans-serif;
	line-height: 1.2;
	padding:22px 0;
}

.questions-list a:hover{
	color:#7cc576;
}

.questions-list p{
	display: none;
	font-weight: 400;
	font-size: 1.05rem;
	color:#606469;
	padding-bottom: 22px;
	line-height: 1.5;
}

/*-------------------------------*/
/* CONTACT */
/*-------------------------------*/

.section-contact{
	background-color: #f5f5f5; 
}

.contact-left{
	background-color: #fff;
	border-radius: 5px;
	height: 100%;
	padding:45px 20px;
}

.contact-item-icon i{
	background-color: #eaf6e9;
	padding:12px;
	border-radius: 50%;
	font-size: 1.2rem;
	color: #7cc576;
	display: block;
}

.contact-item{
	display: flex;
	flex-flow: row nowrap;
}

.contact-item:not(:last-child){
	margin-bottom: 40px;
}

.contact-item-info{
	margin-left: 15px;
	line-height: 1.5;
}

.contact-item-info h3{
	font-weight: 600;
	font-size: 1.4rem;
	margin-bottom: 6px;
}

.contact-item-info p{
	color:#555;
	font-size: 0.9rem;
}

.main-form{
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
}

input[type="text"], textarea{
	width:100%;
	margin-bottom: 22px;
	font-size: 0.95rem;
	border:1px solid #ced4da;
	color:#778087;
	padding: 10px;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

input[type="text"]::placeholder,
textarea::placeholder{
	color:#778087;
}

textarea{
	height:125px;
}

.main-form .row:last-child{
	text-align: center;
}

.btn-contact{
	font-size: 0.95rem;
	font-weight: 500;
	border:2px solid #7cc576;
	border-radius: 5px;
	padding:10px 18px;
	color:#fff;
	background-color: #7cc576;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	cursor: pointer;
}

.btn-contact:hover{
	background-color: #61b959;
	border-color:#61b959;
}

/*-------------------------------*/
/* FOOTER */
/*-------------------------------*/

footer{
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
	url('../img/footer-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding:80px 0px;
	text-align:center;
}

.footer-link-logo{
	display: block;
}

.footer-link-logo img{
	width:85px;
	height: auto;
}

.footer-title{
	margin: 20px 0 30px 0;
	font-weight: 700;
	color:#fff;
	font-size: 2.3rem;
}

.footer-subtitle{
	font-style: italic;
	color:#fff;
	font-size: 0.9rem;
	line-height: 1.5;
	margin-bottom: 30px;
}

.subscribe-form{
	width: 100%;
	padding:10px;
	padding-right: 0;
	background-color: #fff;
	height: 40px;
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 30px;
}

.subscribe-form input[type="email"]{
	padding:5px;
	width:calc(100% - 100px);
	font-size: 1rem;
	color:#555;
	border:none;
	outline: none;
	font-family: 'Open Sans', sans-serif;
}

.subscribe-form input[type="email"]::placeholder{
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95rem;
}

.subscribe-form input[type="submit"]{
	width:100px;
	height: 40px;
	border-radius: 30px;
	border:0;
	background-color: #7cc576;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95rem;
	cursor: pointer;
	transition: background-color .3s;
}

.subscribe-form input[type="submit"]:hover{
	background-color: #61b959;
}

.footer-nav{
	margin-bottom: 80px;
}

.footer-nav li{
	display: inline-block;
}

.footer-nav a{
	display: block;
	padding: 8px;
	background-color: #7cc576;
	border-radius: 50%;
	margin:0 3px;
	transition: background-color .3s;
}

.footer-nav a:hover{
	background-color: #61b959;
}

.footer-nav i{
	color:#fff;
	font-size: 1.2rem;
}

footer hr{
	border:none;
	border-top: 1px solid #222;
}

.copyright{
	margin-top: 45px;
	color:#fff;
	font-size: 0.9rem;
}

